.details {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-left: 2px solid #512a7c;
  padding: 10px 30px;
}

.details-dark {
  background-color: #1d1e1f;
}

.details-description {
  margin-block-start: 30px;
}

.details-close {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 20px;
}
