.results {
  table {
    width: 100%;
  }

  th {
    text-align: start;
  }

  table,
  th,
  td {
    border: 1px solid darkgray;
    border-spacing: 0;
  }

  th,
  td {
    padding: 14px;
  }
}

.results-header {
  display: flex;
  justify-content: center;
  padding-block-start: 20px;
}

.results-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.results-empty {
  display: flex;
  justify-content: center;
  font-style: italic;
}

.results-container {
  display: flex;
  gap: 20px;

  section {
    flex-basis: 50%;
  }
}

.details-close {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: darkred;
}
