.app {
  padding: 20px;
  height: 100%;
}

.app.dark {
  background-color: #1d1e1f;

  h1,
  h2,
  h3,
  h4,
  span,
  p {
    color: white;
  }
}

.app.light {
  background-color: white;

  h1,
  h2,
  h3,
  h4,
  span,
  p {
    color: black;
  }
}

.app-header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  gap: 20px;

  svg {
    margin-left: auto;
  }
}

.app-header-theme-switch {
  margin-left: auto;
}

.trigger-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
