#root {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

a {
  float: left;
  color: #9d50f3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active-link {
  color: #f2f2f2;
}
